@font-face {
  font-family: cowboys;
  src: url("../fonts/bleeding_cowboys.ttf");
}

body {

}

/*
body::after {
  background: url('../images/bandeau.jpeg');
  background-size: cover;
  content:"";
  opacity: 1;
  top: 0;
  left: 0;
  bottom: 300px;
  right: 0;
  position: absolute;
  z-index: -1;
}
*/

.facebook-wrapper {
  padding-bottom: rem-calc(30);
}

#byron {

  padding-top: rem-calc(80);
  padding-left: rem-calc(40);
  color: black;
  font-family: cowboys;
  font-size: rem-calc(100);

  @media #{$medium-only} {
    font-size: rem-calc(100);
  }

  @media #{$small-only} {
    font-size: rem-calc(65);
  }

}

.speech {

  font-style: italic;
  color: #333;
  opacity: 0.8;
  padding: 15px;

  @media #{$small-only} {

    padding-top: 20px;
    text-align: center;

  }
}

.footer {

  p {

    @media #{$small-only} {

      padding-top: 50px;

    }

  }
}

.content {
  padding-top: 60px;
  padding-bottom: 30px;
}



#tom-waits {
 /* background-color: cornflowerblue;*/
}

.footer {
  padding-bottom: rem-calc(100);
}

/*
.mini-header {
  margin-bottom: rem-calc(20);
  color:white;
  background: black;
  opacity: 0.8;
  padding: rem-calc(20);
  margin-top: rem-calc(100);
}*/

