@font-face {
  font-family: cowboys;
  src: url("../fonts/bleeding_cowboys.ttf");
}

.fi-icon-large {
  font-size: rem-calc(20);
}

a .fi-icon-large {
  position: relative;
  top:1px;
  left:-5px
}

body {
  color:#222;
  /*background: url("../images/faces.jpg") no-repeat;*/
  background-size:cover;
  font-family: 'trebuchet ms', verdana, arial;
}

.page-opacifier {
  /*background-color: white;*/
  opacity: 0.7;
  position: absolute;
  height: 100%;
  width: 100%;
}



.facebook-wrapper {
  padding-bottom: rem-calc(30);
}

#byron {
  color: #222;
  padding-top: rem-calc(80);
  font-size: rem-calc(100);

  @media #{$medium-only} {
    font-size: rem-calc(100);
  }

  @media #{$small-only} {
    font-size: rem-calc(65);
  }

}

.speech {

  padding: 15px;

  @media #{$small-only} {

    padding-top: 20px;
    text-align: center;

  }
}

.footer {

  p {

    @media #{$small-only} {

      padding-top: 50px;

    }

  }
}

.content {
  padding-top: 50px;
  padding-bottom: 30px;

}

.stabilo {
 background-color: gold;
  padding: 0 5px;
  color: black;
}

.footer {
  padding-bottom: rem-calc(100);
}

.soundcloud-wrapper {
  padding-bottom: 50px;
}
